/** IMPORTS **/
@import "https://fonts.googleapis.com/css?family=Actor|Alegreya|Almendra+SC|Amatic+SC|Architects+Daughter|Arvo|Asul|Caudex|Cinzel|Cormorant+Garamond|Dosis|Julius+Sans+One|Philosopher|Ruslan+Display|VT323";
/** FONTS **/
/* Cursive */
/* Sans Serif */
/* Serif */
/* Monospace */
/** COLORS **/
/** SIZING **/
/** POSITIONING **/
/* Page Content Style */
#content {
  height: 3440px;
  font-family: Philosopher; }
  #content #particlesContainer {
    position: absolute;
    width: 100%;
    height: 460px; }
    #content #particlesContainer #myCanvas {
      width: 800px;
      height: 500px; }
    #content #particlesContainer canvas {
      width: 800px;
      height: 500px; }
  #content #info_pane {
    height: 210px;
    background: rgba(120, 142, 160, 0.75);
    position: absolute;
    top: 520px;
    width: 100%;
    box-shadow: 0px 0px 10px black; }
    #content #info_pane #info_table {
      position: absolute;
      height: 100%;
      left: 10%;
      right: 10%;
      width: 80%; }
      #content #info_pane #info_table table tr td {
        padding: 10px;
        font-family: "Julius Sans One"; }
        #content #info_pane #info_table table tr td img {
          float: left; }
        #content #info_pane #info_table table tr td p {
          float: left;
          margin-top: -45px;
          margin-left: 70px;
          margin-right: 30px;
          text-align: justify;
          font-size: 12px; }
        #content #info_pane #info_table table tr td h2 {
          font-weight: bold;
          font-size: 15px;
          font-family: "Ruslan Display"; }
  #content .sec_title {
    width: 100%;
    text-align: center; }
  #content #featured_pane {
    height: 300px;
    position: absolute;
    top: 790px;
    width: 80%;
    left: 10%;
    right: 10%;
    background: rbga(175, 175, 175, 0.5); }
    #content #featured_pane .feature_cols {
      width: 23%;
      left: 1%;
      right: 1%;
      position: absolute;
      clear: none;
      height: 100%;
      margin-top: 0px;
      text-align: center;
      background-color: rgba(138, 182, 252, 0.8);
      box-shadow: 0, 0, 10px, 10px;
      transition: all 0.35s; }
      #content #featured_pane .feature_cols:hover {
        background-color: yellow;
        box-shadow: 10px 10px 5px #888888;
        margin-bottom: 6px;
        transition: all 0.35s; }
      #content #featured_pane .feature_cols h3 {
        padding-top: 15px; }
      #content #featured_pane .feature_cols p {
        top: 30px;
        left: 10%;
        right: 10%;
        width: 80%;
        text-align: center;
        margin-left: 25px; }
  #content #announcements_pane {
    height: 500px;
    position: absolute;
    top: 1240px;
    width: 100%;
    background: rbga(175, 175, 175, 0.5); }
    #content #announcements_pane iframe {
      position: absolute;
      left: 0px;
      right: 80%;
      margin-right: 10px; }
    #content #announcements_pane h2 {
      font-size: 18px;
      height: 10%; }
    #content #announcements_pane p {
      position: absolute;
      width: 40%;
      left: 40%;
      right: 20%;
      text-align: justify;
      margin-left: 25px;
      top: 50px; }
      #content #announcements_pane p #tabs {
        position: absolute;
        width: 20%;
        left: 80%;
        right: 0px; }
    #content #announcements_pane table {
      width: 100%;
      height: 90%; }
      #content #announcements_pane table tr {
        top: 0; }
        #content #announcements_pane table tr td {
          top: 0;
          height: 100%;
          width: 33%;
          background: rgba(155, 155, 155, 0.45);
          box-shadow: inset 0px 0px 25px 3px;
          border-radius: 40px 40px 40px 10px; }
          #content #announcements_pane table tr td h3 {
            font-size: 15px;
            text-align: center; }
          #content #announcements_pane table tr td p {
            padding-left: 50px;
            padding-right: 50px;
            text-align: justify; }
  #content #info_tile_pane {
    height: 1000px;
    background: rgba(0, 0, 200, 0.1);
    position: absolute;
    top: 1860px;
    width: 80%;
    left: 10%;
    right: 10%;
    background: rbga(175, 175, 175, 0.5); }
  #content #info_pane2 {
    height: 210px;
    background: blue;
    position: absolute;
    top: 2920px;
    width: 100%;
    background: rbga(175, 175, 175, 0.5); }
  #content #email_pane {
    height: 100px;
    background: blue;
    position: absolute;
    top: 3190px;
    width: 80%;
    left: 10%;
    right: 10%;
    background: rbga(175, 175, 175, 0.5); }

#container_img {
  position: absolute;
  background-color: rgba(0, 0, 100, 0.2);
  top: 10%;
  bottom: 10%;
  height: 80%;
  width: 90%;
  left: 5%;
  right: 5%;
  border-radius: 0px 0px 150px 0px;
  border: 3px solid rgba(0, 0, 200, 0.05); }

/*# sourceMappingURL=stylesheet_index.css.map */
